#root {
  width: 100%;
  margin: 0 auto;
  padding: 25px;
}

.cart {
  border-collapse: collapse;
  width: 100%;
}

.cart thead tr th {
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.cart tbody tr:hover {
  background-color: #f8f8f8;
}

.cart tbody tr td {
  padding: 12px 0px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

.cart tbody tr td.actions {
  width: 135px;
}

.products {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.product {
  border: 1px solid #ddd;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}
